:root {
  --primary-color: #F74949;
  --secondary-color: #4A4A4A;
  --hamburger-menu-color: #F74949;
  --background-color: #FFF;
  --font-color: #FFF;
  --color-black: #1f1f1f;
  --dark-gray: #4A4A4A;
  --color-gray: #888888;
  --light-gray: #B1B1B1;
  --really-light-gray: #F4F4F4;
  --default-font-size: 1.6rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  width: 100%;
  height: 100vh;
  text-align: center;
  box-sizing: border-box;
  background-color: var(--background-color);
  scroll-behavior: smooth; }

a {
  text-decoration: none;
  cursor: pointer; }

button,
select {
  cursor: pointer; }

img {
  width: 100%; }

.line {
  height: 0.6rem;
  border-radius: .3rem;
  width: 4rem;
  background-color: var(--primary-color); }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-style: normal; }

h1 {
  font-size: 2.6rem; }

p,
li {
  font-size: 1.7rem;
  font-weight: 500; }

a {
  text-decoration: none; }

/* * {
    border: 1px solid green;
} */
.body__index {
  overflow: hidden; }

.container {
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  .container .logo {
    position: fixed;
    top: 2.5rem;
    left: 5rem;
    width: 6rem;
    z-index: 9;
    cursor: pointer; }
  .container .dots {
    float: left;
    width: auto;
    position: fixed;
    top: 50%;
    right: 5.5rem;
    transform: translateY(-50%);
    z-index: 3; }
    .container .dots .dot {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1.4rem;
      grid-gap: 1.5rem;
      cursor: pointer; }
    .container .dots span {
      height: 1.4rem;
      width: 1.4rem;
      margin: 1rem 0;
      background-color: #e4e4e4;
      border-radius: 50%;
      transition: all .3s ease-in-out; }
    .container .dots p {
      visibility: hidden;
      opacity: 0;
      color: var(--dark-gray);
      transition: all 0.5s ease;
      font-size: 1.8rem;
      font-weight: 600;
      text-align: right; }
    .container .dots .dot:hover span {
      background-color: silver; }
    .container .dots .dot:hover p {
      transition: all 0.5s ease;
      visibility: visible;
      opacity: 1; }
    .container .dots .active span,
    .container .dots .active:hover span {
      background-color: var(--primary-color); }

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.7, 0.7); }
  to {
    opacity: 1; } }
.container .fade-in-element {
  animation: fade-in 1.4s; }
.container .hidden {
  opacity: 0; }
.container__slides {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: var(--background-color);
  overflow: hidden;
  transition: all 0.4s ease-in-out; }
  .container__slides .slide {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    height: 85%;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 1s ease;
    background-color: var(--background-color); }
    .container__slides .slide .description {
      position: fixed;
      left: 5rem;
      top: 50%;
      transform: translateY(-50%); }
      .container__slides .slide .description p {
        color: var(--light-gray);
        font-size: 2rem;
        font-weight: 400;
        writing-mode: tb-rl;
        transform: rotate(-180deg); }
    .container__slides .slide .slide_main {
      position: absolute;
      top: 0;
      right: 13%;
      width: 80%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      /* background-color: var(--primary-color); */
      transition: all 1s ease;
      transform: translateX(0%); }
      .container__slides .slide .slide_main .heading {
        position: absolute;
        text-align: left;
        top: 5%;
        left: 6%; }
        .container__slides .slide .slide_main .heading h1 {
          color: var(--primary-color);
          font-size: 9rem;
          font-weight: 700; }
        .container__slides .slide .slide_main .heading h2 {
          color: var(--dark-gray);
          font-size: 5rem;
          font-weight: 600;
          padding: 3rem 0 1rem 0; }
        .container__slides .slide .slide_main .heading h3 {
          color: var(--dark-gray);
          font-size: 2rem;
          font-weight: 400;
          padding: 2rem 0; }
      .container__slides .slide .slide_main .heading__info {
        position: absolute;
        top: 5%;
        right: 7%; }
        .container__slides .slide .slide_main .heading__info h1 {
          color: #eeeeee;
          font-size: 9rem;
          font-weight: 700; }
      .container__slides .slide .slide_main .cta_btn {
        position: absolute;
        bottom: 20%;
        left: 6%; }
      .container__slides .slide .slide_main__images {
        width: 65%;
        position: absolute;
        top: 0;
        right: 10%;
        height: 100%;
        z-index: 5; }
        .container__slides .slide .slide_main__images img {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0; }
  .container__slides .slide1 .slide_main .heading {
    top: 10%;
    left: 50%;
    transform: translateX(-50%); }
    .container__slides .slide1 .slide_main .heading h1 {
      font-size: 9rem;
      font-weight: 700;
      text-align: center; }
    .container__slides .slide1 .slide_main .heading h2 {
      font-size: 5rem;
      font-weight: 600;
      padding: 3rem 0;
      text-align: center; }
  .container__slides .slide2 .slide_main .heading h2 {
    color: var(--dark-gray);
    font-size: 3.5rem;
    font-weight: 600;
    padding: 3rem 0; }
  .container__slides .slide2 .slide_main__images {
    width: 60%;
    right: 5%;
    bottom: 0;
    top: unset; }
    .container__slides .slide2 .slide_main__images img {
      bottom: 0;
      top: unset;
      transform: translateY(0); }
  .container__slides .slide3 .slide_main__images {
    width: 65%;
    right: 7%; }
  .container__slides .slide4 .slide_main__images {
    width: 65%;
    right: 2%; }
  .container__slides .slide5 .slide_main__images {
    width: 75%;
    right: 2%; }
  .container__slides .slide6 .slide_main__images {
    width: 60%;
    right: 2%; }
  .container__slides .slide7 .slide_main__images {
    width: 90%;
    right: 5%; }
    .container__slides .slide7 .slide_main__images img {
      position: absolute;
      left: 10%;
      top: 50%;
      transform: translateY(-50%);
      right: 0; }
  .container__slides .active_prev {
    visibility: visible;
    opacity: 1; }
    .container__slides .active_prev .slide_main {
      transform: translateY(0%); }
@keyframes goUp {
  0% {
    transform: translateY(0%); }
  100% {
    transform: translateY(-100%); } }
@keyframes goDown {
  0% {
    transform: translateY(0%); }
  100% {
    transform: translateY(100%); } }
@keyframes goFromUp {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }
@keyframes goFromDown {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(0); } }
  .container__slides div.move_next .slide_main {
    transform: translateX(100%); }
  .container__slides div.active {
    visibility: visible;
    opacity: 1; }
    .container__slides div.active .slide_main {
      transform: translateX(0%); }
  .container__slides div.move_active_left {
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease; }
    .container__slides div.move_active_left .slide_main {
      transition: all 1s ease;
      transform: translateX(-100%); }

.slide-in {
  animation: slide-in 2s forwards; }

.slide-out {
  animation: slide-out 0.5s forwards;
  position: relative;
  visibility: "hidden"; }

.fade-in {
  animation: fade-in 0.5s forwards;
  visibility: "visible"; }

.fade-out {
  animation: fade-out 0.5s forwards; }

@keyframes slide-in {
  from {
    transform: translateX(100%); }
  to {
    transform: translateX(0); } }
@keyframes slide-out {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-100%); } }
@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0; }
  to {
    visibility: visible;
    opacity: 1; } }
@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
    transform: translateX(0); }
  to {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-100%); } }
.menu__hamburger {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 5rem;
  right: 5rem;
  transition-duration: 0.3s;
  cursor: pointer;
  z-index: 10; }
  .menu__hamburger span,
  .menu__hamburger span:before,
  .menu__hamburger span:after {
    position: absolute;
    left: 0;
    width: 100%;
    transition-duration: 0.3s;
    background-color: black;
    border-radius: 0.3rem;
    background-color: var(--primary-color); }
  .menu__hamburger span {
    height: 0;
    top: 50%;
    transform: translateY(-50%); }
    .menu__hamburger span:before {
      height: 0.4rem;
      content: "";
      top: -1.3rem; }
    .menu__hamburger span:after {
      height: 0.4rem;
      content: "";
      top: 1rem; }
  .menu__hamburger.open span:before {
    transform: rotateZ(135deg) scaleX(1.25) translate(0.6rem, -0.8rem);
    background-color: white; }
  .menu__hamburger.open span:after {
    transform: rotateZ(-135deg) scaleX(1.25) translate(0.7rem, 1rem);
    background-color: white; }
.menu__hamburger:hover {
  width: 55px;
  right: 4.5rem; }
.menu__content {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--hamburger-menu-color);
  transition: .3s ease-in-out;
  clip-path: circle(30px at calc(100% - 65px) 65px);
  visibility: hidden;
  z-index: 8; }
  .menu__content--nav {
    position: absolute;
    display: grid;
    justify-items: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .menu__content--nav ul li {
      font-size: 6rem;
      font-weight: 600;
      color: white;
      list-style: none;
      padding: 1rem 0;
      cursor: pointer; }
      .menu__content--nav ul li a {
        text-decoration: none;
        color: white; }
    .menu__content--nav ul li:hover a {
      color: rgba(255, 255, 255, 0.63); }
    .menu__content--nav .some {
      margin-top: 20%;
      display: grid;
      align-items: center;
      width: 55%;
      padding: 10% 0;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 15%;
      border-top: 1px solid rgba(230, 230, 230, 0.219); }
      .menu__content--nav .some a:hover {
        cursor: pointer;
        opacity: 0.4; }

.menu.active .menu__content {
  visibility: visible;
  clip-path: circle(100%); }

.container .icon-scroll {
  position: absolute;
  right: 5rem;
  width: 30px;
  height: 55px;
  bottom: 7rem;
  box-shadow: inset 0 0 0 0.25rem var(--dark-gray);
  border-radius: 25px;
  z-index: 3; }
.container .icon-scroll:before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  width: 6px;
  height: 6px;
  background: var(--dark-gray);
  top: 13px;
  border-radius: 3px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll; }
@keyframes scroll {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate(-50%, 30px); } }
.switcher {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem; }

label,
.toggle {
  height: 3.3rem;
  border-radius: 100px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.068); }

label {
  border-radius: 100px;
  cursor: pointer;
  background-color: lightgray;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .1s;
  margin: auto;
  text-align: center; }

.toggle {
  position: absolute;
  left: 0;
  width: 50%;
  background-color: #fff;
  z-index: 4;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border: 1px solid #fff; }

.names {
  font-size: 90%;
  font-weight: bolder;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  user-select: none;
  z-index: 5; }

.light {
  opacity: 1;
  color: var(--dark-gray); }

.dark {
  opacity: .5; }

/* -------- Switch Styles ------------*/
[type="checkbox"] {
  display: none; }

/* Toggle */
[type="checkbox"]:checked + label .toggle {
  transform: translateX(100%);
  background-color: var(--secondary-color);
  border-color: var(--secondary-color); }

[type="checkbox"]:checked + label .dark {
  opacity: 1;
  color: white; }

[type="checkbox"]:checked + label .light {
  opacity: .5; }

/* App */
[type="checkbox"]:checked + body {
  background-color: #26242E;
  color: white; }

.cta_btn {
  display: grid;
  background-color: var(--primary-color);
  color: white;
  height: 5rem;
  border: none;
  border-radius: 2.5rem;
  padding: 0 3rem;
  font-size: 1.7rem;
  font-weight: 400;
  text-align: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  transition: all .3s ease-in-out;
  /* box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.18); */ }

.cta_btn:hover {
  transform: scale(1.1);
  color: #f3f3f3; }

/* * {
    border: 1px solid green;
}
 */
.container-about {
  overflow: auto;
  width: 100%;
  text-align: left; }
  .container-about .intro {
    width: 100%;
    height: 100vh;
    position: relative;
    transition: all 1s ease; }
    .container-about .intro__heading {
      position: absolute;
      width: 35%;
      top: 20%;
      left: 12%; }
      .container-about .intro__heading h1 {
        color: var(--primary-color);
        font-size: 9rem;
        font-weight: 700; }
      .container-about .intro__heading p {
        width: 60%;
        color: var(--dark-gray);
        font-size: 1.5rem;
        font-weight: 400;
        padding: 2rem 0; }
    .container-about .intro__images {
      width: 50%;
      position: absolute;
      top: 0;
      right: 12%;
      height: 100%;
      z-index: 5; }
      .container-about .intro__images img {
        position: absolute;
        right: 0;
        bottom: 0; }
    .container-about .intro__btn {
      position: absolute;
      bottom: 20%;
      left: 12%; }
    .container-about .intro .icon-scroll {
      right: 10%;
      bottom: 10%; }
  .container-about .section {
    width: 100%;
    padding: 7% 12%; }
    .container-about .section__heading {
      padding-bottom: 3rem;
      text-align: center;
      display: grid;
      justify-items: center;
      align-items: center; }
      .container-about .section__heading h2 {
        display: inline-block;
        color: var(--dark-gray);
        font-size: 4rem;
        font-weight: 700;
        padding: 3rem 0 2rem 0; }
    .container-about .section__main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 5%;
      padding: 5% 10%; }
  .container-about .sections--1 .aboutMe__info {
    display: grid;
    grid-template-columns: 25% 70%;
    grid-column-gap: 5%; }
    .container-about .sections--1 .aboutMe__info li {
      list-style: none;
      padding: .5rem 0; }
    .container-about .sections--1 .aboutMe__info--left li {
      color: var(--dark-gray);
      font-weight: 600;
      font-size: 1.8rem; }
  .container-about .sections--2 .whatIDo {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 3%;
    text-align: center; }
    .container-about .sections--2 .whatIDo__item img {
      padding: 10% 20%; }
    .container-about .sections--2 .whatIDo__item h3 {
      color: var(--dark-gray);
      font-size: 2rem;
      font-weight: 600;
      padding: 1rem 0;
      text-align: center; }
    .container-about .sections--2 .whatIDo__item p {
      padding: 1rem;
      color: var(--color-gray);
      font-size: 1.5rem;
      font-weight: 400; }
  .container-about .sections--3 .skills {
    grid-row-gap: 10%; }
    .container-about .sections--3 .skills h3 {
      padding: 2.5rem 0;
      font-size: 3rem;
      font-weight: 600; }
    .container-about .sections--3 .skills__grid {
      width: 90%; }
      .container-about .sections--3 .skills__grid__row {
        display: grid;
        grid-column-gap: 2%;
        padding: .5rem 0; }
        .container-about .sections--3 .skills__grid__row .level {
          position: relative; }
          .container-about .sections--3 .skills__grid__row .level__actual, .container-about .sections--3 .skills__grid__row .level__full {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            border-radius: .5rem;
            height: 1rem; }
          .container-about .sections--3 .skills__grid__row .level__full {
            width: 100%;
            background-color: #E3E3E3; }
          .container-about .sections--3 .skills__grid__row .level__actual {
            background-color: var(--primary-color); }
        .container-about .sections--3 .skills__grid__row p {
          font-weight: 400;
          font-weight: 1.2rem;
          font-size: 1.9rem; }
        .container-about .sections--3 .skills__grid__row p.percentage {
          font-weight: 400;
          color: var(--color-gray); }
        .container-about .sections--3 .skills__grid__row:nth-child(1) .level__actual {
          width: 90%; }
        .container-about .sections--3 .skills__grid__row:nth-child(2) .level__actual {
          width: 70%; }
        .container-about .sections--3 .skills__grid__row:nth-child(3) .level__actual {
          width: 60%; }
        .container-about .sections--3 .skills__grid__row:nth-child(4) .level__actual {
          width: 50%; }
        .container-about .sections--3 .skills__grid__row:nth-child(5) .level__actual {
          width: 50%; }
    .container-about .sections--3 .skills .design .skills__grid__row,
    .container-about .sections--3 .skills .development .skills__grid__row {
      grid-template-columns: 30% 56% 10%; }
    .container-about .sections--3 .skills .knowledge .skills__grid__row,
    .container-about .sections--3 .skills .personal .skills__grid__row {
      grid-template-columns: 2rem 1fr;
      grid-column-gap: 2rem; }
  .container-about .sections--4 .experience, .container-about .sections--5 .experience {
    display: block; }
    .container-about .sections--4 .experience .row, .container-about .sections--5 .experience .row {
      display: grid;
      width: 100%;
      grid-template-columns: 6rem 30% 45%;
      grid-column-gap: 2%;
      padding: 4% 0; }
    .container-about .sections--4 .experience__icon, .container-about .sections--5 .experience__icon {
      padding-top: .5rem; }
    .container-about .sections--4 .experience__heading h4, .container-about .sections--5 .experience__heading h4 {
      color: var(--dark-gray);
      padding-bottom: 1rem;
      font-size: 2.2rem;
      font-weight: 600; }
    .container-about .sections--4 .experience__heading p, .container-about .sections--5 .experience__heading p {
      color: var(--light-gray);
      font-size: 1.8rem;
      font-weight: 400; }
    .container-about .sections--4 .experience__info h3, .container-about .sections--5 .experience__info h3 {
      color: var(--color-black);
      padding-bottom: 1rem;
      font-size: 2.4rem;
      font-weight: 600; }
    .container-about .sections--4 .experience__info p, .container-about .sections--5 .experience__info p {
      color: var(--color-black);
      font-size: 1.5rem;
      font-weight: 400; }
  .container-about .sections--6 .hobbies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 0;
    padding: 10%; }
    .container-about .sections--6 .hobbies img {
      transition: all 0.4s ease-in-out;
      padding: 10% 25%; }
    .container-about .sections--6 .hobbies p {
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s ease-in-out;
      color: var(--primary-color);
      text-align: center;
      font-weight: 600;
      font-size: 2.2rem;
      padding: 1rem 0; }
    .container-about .sections--6 .hobbies img:hover {
      transform: scale(1.2); }
    .container-about .sections--6 .hobbies img:hover + p {
      visibility: visible;
      opacity: 1; }
  .container-about .sections--7 {
    width: 100%;
    padding: 10% 0;
    margin: auto;
    text-align: center;
    background-color: var(--primary-color); }
    .container-about .sections--7 h3 {
      width: 70%;
      margin: auto;
      color: var(--font-color);
      padding-bottom: 4rem;
      font-size: 3rem;
      font-weight: 600; }
    .container-about .sections--7 p {
      width: 100%;
      color: var(--font-color);
      font-size: 1.6rem;
      font-weight: 400;
      padding-bottom: 9rem; }
    .container-about .sections--7 .cta_btn {
      background-color: var(--background-color);
      color: var(--primary-color);
      margin: auto;
      width: 17rem; }

/*# sourceMappingURL=style.css.map */
