.container {
    .icon-scroll {
        position: absolute;
        right: 5rem;
        width: 30px;
        height: 55px;
        bottom: 7rem;
        box-shadow: inset 0 0 0 0.25rem var(--dark-gray);
        border-radius: 25px;
        z-index: 3;
    }

    .icon-scroll:before {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        width: 6px;
        height: 6px;
        background: var(--dark-gray);
        top: 13px;
        border-radius: 3px;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-name: scroll;
    }

    @keyframes scroll {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            transform: translate(-50%, 30px);
        }
    }
}