.switcher {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
}

label,
.toggle {
  height: 3.3rem;
  border-radius: 100px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.068);
}

label {
  border-radius: 100px;
  cursor: pointer;
  background-color: rgb(211, 211, 211);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .1s;
  margin: auto;
  text-align: center;
}

.toggle {
  position: absolute;
  left: 0;
  width: 50%;
  background-color: #fff;
  z-index: 4;
  transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border: 1px solid #fff;
}

.names {
  font-size: 90%;
  font-weight: bolder;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  user-select: none;
  z-index: 5;
}

.light {
  opacity: 1;
  color: var(--dark-gray);
}

.dark {
  opacity: .5;

}


/* -------- Switch Styles ------------*/
[type="checkbox"] {
  display: none;
}

/* Toggle */
[type="checkbox"]:checked+label .toggle {
  transform: translateX(100%);
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

[type="checkbox"]:checked+label .dark {
  opacity: 1;
  color: white;
}

[type="checkbox"]:checked+label .light {
  opacity: .5;
}

/* App */
[type="checkbox"]:checked+body {
  background-color: #26242E;
  color: white;
}